# dependencies
/node_modules

# misc
.DS_Store
.env
.env.dev
.vscode/
.idea/
.claude/
.vite/
deno.lock
frontend/dist
frontend/.vite

._*
.Spotlight-V100
.Trashes
*BotData.sql*
*.log

dockerfile
deno-docker.json
compose.y*ml
.dockerignore
REFACTORING.md
