/**
 * Chat list
 *
 * @author Wellington Estevo
 * @version 1.6.6
 */

.chat-messages {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    padding: 0 .5rem .5rem;
}
