/**
 * Chat list
 * 
 * @author Wellington Estevo
 * @version 1.1.4
 */

#credits {
	/*transform: perspective(3rem) rotateX(2deg);
	font-size: 220%;*/
	padding: 0 5vw;
}

	.credits-wrapper {
		margin-bottom: 6rem;
		display: grid;
		justify-content: start;

		.window-body {
			display: grid;
			justify-items: start;
			gap: 2rem;
			font-weight: 900;
			font-size: 200%;
		}

		.window-light {
			text-transform: uppercase;
			font-size: 150%;
			justify-self: start;
		}

		.window-light .window-body {
			padding: 2rem 3rem 4rem;
		}

		.window-dark {
			translate: 30% -3rem;
		}

		/* Abstände etwas unterschiedlich weil mehr Abwechslung */
		&:nth-child(2){translate: 10vw}
		&:nth-child(2) .window-dark{translate: 20% -2.5rem}
		&:nth-child(3){translate: -5vw}
		&:nth-child(3) .window-dark{translate: 25% -2.74rem}
		&:nth-child(5){translate: 5vw}
		&:nth-child(3) .window-dark{translate: 15% -3rem}
	}

	.credits-entry {
		display: flex;
		gap: 2rem;
		align-items: center;
		width: 100%;

		.user {
			flex-grow: 1;
		}

		img {
			width: 7.5rem;
			border-radius: 100%;
		}

		.button {
			border-color: var(--color-secondary) !important;
		}
	}