/**
 * Focus
 * 
 * @author Wellington Estevo
 * @version 1.1.4
 */

#focus {
	opacity: 0;
	animation:
		focus-in 1s ease-in-out forwards,
		focus-in 1s ease-in-out var(--animation-out-delay) forwards reverse;
	align-self: flex-start;
	font-size: 3rem;
}

	@keyframes focus-in {
		from {top:-4rem;opacity:0}
		to{top:0;opacity:1}
	}

	#focus-timer {
		font-weight: 400;
	}